<div class='loader_container' *ngIf="loading"><div class='loader'></div></div>
<div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <form class="reset-box" name="form" (ngSubmit)="forgotForm.form.valid && sendRequest(forgotForm.value)" #forgotForm="ngForm" novalidate>
                    <header class="sign-title">Reset Your Password</header>
                      <div class="form-group has-feedback" [ngClass]="{ 'has-error': forgotForm.submitted && !email.valid }"> 
                        <input type="email" [email]="true" class="form-control" name="email" placeholder="Enter Email to reset password" [(ngModel)]="model.email" #email="ngModel" required />
                        <div *ngIf="forgotForm.submitted && email.errors && email.errors.required" class="help-block">E-Mail is required</div>
                        <div *ngIf="forgotForm.submitted && email.errors && email.errors.email && !email.errors.required" class="help-block">Please enter valid E-Mail</div>
                    </div> 
                    <button type="submit" class="btn btn-rounded">Send Password Reset Link</button>
                </form>
            </div>
        </div>
    </div>